.App-card img{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 20px;
}
.App-card img:hover {
    width: 210px;
    height: 210px;
    box-shadow: 7px 10px 17px 2px #888888;
    margin: 15px;
}